/* ------------ global ------------ */
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* ------------ header ------------ */
.header {
  display: flex;
  justify-content: space-between;  
  padding: 15px 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.header img {
  width: 50px;  
}

.header ul {  
  display: flex;
  gap: 20px;  
}

.header ul li {
  text-align: center;  
  font-size: 16px;
  font-weight: 600;  
  color: #ff6f0f;
}

/* ------------ blog ------------ */
.blog {
  padding-top: 30px;  
  max-width: 1200px;
  margin: 0 auto;
}

.blog .posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 90px;      
}

.blog .post {  
  width: 400px; 
  margin: 0 auto;
  cursor: pointer;  
  transition:
    opacity 0.25s ease-in,
    transform 0.25s ease-in;
}

.blog .post:hover {
  opacity: 0.8;
  transform: translateY(-10px);
}

.blog .post img {
  width: 100%;
  border-radius: 15px;
}

.blog .post .title {
  margin: 18px 0 14px;
  font-size: 22px;
}

.blog .post .description {
  color: #868b94;  
  margin-bottom: 30px;
}

.blog .post .category {
  border: none;
  border-radius: 26px;
  background-color: #f2f3f6;
  color: #868b94;
  padding: 6px 10px;
  font-size: 14px;  
}


